!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %title C Spot Run
    %link{ href: 'stylesheets/app.css', rel: 'stylesheet' }
    %script{ src: 'bower_components/modernizr/modernizr.js' }
  %body
    .row
      .large-12.columns
        %p
          &nbsp;
    .row
      .large-12.columns
        %img{ src: './images/cspotrun-logo.svg' }
    .row
      .large-6.columns
        A web-based teaching language for novice programmers.
      .large-3.columns
        &nbsp;
      .large-3.columns
        %a{ href: 'mailto:bekroogle@gmail.com' } bekroogle@gmail.com
    .row
      <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="550" height="400" src="https://prezi.com/embed/wzudk9180m2h/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWkRDVE93YVVDTVN5dWF2eDNlZVpKcVJOdVVPM0xIS1RCWFNaa3R4eG5DNS9NNGZ6OG1iclpzTG50TUw&amp;landing_sign=TCo_Y-Y9bX-XNxZtaABAywduQY6TLUFD4etWwNJY_n8"></iframe>
