!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %title C Spot Run
    %link{ href: 'stylesheets/app.css', rel: 'stylesheet' }
  %body
    .row
      .small-12.columns
        %nav.top-bar(data-topbar= '' role='navigation')
          %section.top-bar-section
            %ul.left
              %li.divider
              %li
                %a#run-btn{ href: '#' } Run
              %li.divider
              -# %li
              -#   %a#clear-term-btn{ href: '#' } Clear terminal
              -# %li.divider

    .row#main-row
      .large-12.columns#input
        #editor # Type a program here, then click "Run!"
      .large-12.columns.hidden#output
        %ul
          %li
            |
            %a#clear-term-btn{ href: '#', title: 'Clear Terminal' }
              Clear Terminal
          |
          %li
            %a#close-term-btn{ href: '#', title: 'Close Terminal' }
              &times;
            |
        #terminal >
    %script{ src: './js/vendor/ace/ace.js' }
    %script{ src: './bower_components/jquery/dist/jquery.min.js' }
    %script{ src: './bower_components/pegjs/peg-0.8.0.js' }
    %script{ src: './bower_components/foundation/js/foundation.js' }
    %script{ src: './bower_components/foundation/js/foundation/foundation.offcanvas.js' }
    %script{ src: './js/app.js' }
